node_modules/
build/
coverage/
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.p12
.env
bun.lock
bun.lockb
.antigravity/
.agents/
.vscode/


.server_data.json
